/*Basic style*/
body{
	padding: 0;
	font-family: "Monospace";
}
header{
	width: 100%;
	text-align: center;
	font-size: 1.75em;
	font-weight: bold;
	margin-bottom: 10px;
}

section {
	width: 33%;
	float:left;
	border: 1px solid black;
	box-sizing: border-box;
	position: relative;
	overflow: auto;
	margin-right: 0.33%;
}
/*body section:nth-child(3){
	margin-right: 0;
}*/
section div:nth-child(1){
	position: absolute;
	top:0;
	right: 0;
	height: 32px;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
	width: 150px;
	border-bottom:1px solid black;
	border-left:1px solid black;

}
section div:nth-child(2){
margin-top: 32px;margin-bottom:10px;
padding-left: 1em;padding-right:1em;
text-indent: 2em;
}
.pink{
	background: pink;
}
.blue{
	background-color:#7373E4;
}
.yellow{
	background-color: yellow;
}
.pur{
	background: #D28DE5;
/*Tablet view*/
}
@media (min-width: 768px) and (max-width: 991px) {
	section {
	width: 49.5%;
	margin-bottom: 5px;
}
.cow1{
	width: 99.5%
}
	
}

/*Mobile view*/

@media (max-width: 767px) {
	section {
	width: 100%;
	float: none;
	margin-bottom: 5px;
}
}